.container {
	position: relative;
	margin-top: 50px;
	text-align: center;
}
.co {
	position: relative;
	margin: 0 auto;
	width: 80%;
	background: #cde;
	border: 30px solid #abc;
	border-radius: 5% 15%;
}
.co img {
	float: left;
	padding: 2px;
	width: 150px;
	height: 150px;
}
.co p {
	font-family: arial;
	text-align: left;
}
.cont {
	position: relative;
	display: inline-block;
	list-style: none;
}
.cont img {
	margin: 0 auto;
	width: 200px;
	height: 200px;

}
.c1 {
	display: block;
	margin: 25px;
	float: left;
	text-align: center;
	background-color: #942b2b;
	box-sizing: border-box;
	width: 250px;
	height: 400px;
	border: 2px solid black;
	border-radius: 25px;
}
.c2 {
	display: block;
	margin: 25px;
	float: left;
	text-align: center;
	background-color: #942b2b;
	width: 250px;
	height: 400px;
	border: 2px solid black;
	border-radius: 25px;
}
