.contents {
	position: relative;
	margin-top: 25px;
	text-align: center;
}
.contents img {
	border-radius: 15%;
	width: 400px;
	height: 400px;
}
.ch {
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
	width: 960px;
	background-color: #82ffe7
}
